body,html{min-width:1210px;}
body{
	font-family:'Lato',sans-serif;
	line-height:1.1em;
	background:url('i/bg.png') #7dad71 top center repeat-x;
}

/**MAIN AREAS**/
main,#calcInput{width:800px !important;}
main,footer,#typeEffectHelp{
	margin-left:25px;
	border:1px solid #00B0F0;
	padding:12px;
	border-radius:12px;
	background:rgba(238,255,255,0.75);
	font-size:14px;
}
footer,#typeEffectHelp{width:300px;}
#calcInput table {
	border:1px solid #00B0F0;
	padding:2px;
	border-radius:8px;
}

/**TOP TWO TABLES**/
#calcInput table.pokemon {
	width:300px;
	float:left;
	margin:0px 50px 15px 50px;
}
#calcInput table.pokemon tr:last-of-type td{padding-bottom:10px;}
#calcInput table.bonus-effects{width:100%;}
input[type="number"]{width:100px;}
input[type="number"],input[type="text"]{
	border:1px inset #00B0F0;
	background:#DDF0FF;
	color:#0080B0;
}

textarea{
	border-radius:8px;
	box-sizing:border-box;
	color:#121212;
	min-width:796px;
	max-width:796px;
	margin-top:15px;
	padding:4px;
	overflow:hidden;
}
textarea#outputarea{
	min-height:56px;
	max-height:102px;
}
textarea.kill{
	border:1px outset #00D080;
	background:#DDF0FF;
}
textarea.range{
	border:1px outset #D08000;
	background:#FFF0DD;
}
textarea.lives{
	border:1px outset #D08080;
	background:#F0EEEE;
}
#calc-collection textarea{
	border:1px outset #00B0F0;
	background:#DDF0FF;
}
th{
	font-size:16px;
	font-weight:700;
	text-align:center;
	padding:10px 0px;
}
td{
	height:24px;min-height:24px;max-height:24px;
	vertical-align:middle;
	text-align:left;
	/**font-family:'Courier New',monospace;**/
}
aside {
	position:absolute;
	top:75px;
	left:850px;
	width:320px;
}
aside hr{border-top:1px solid #00B0F0;}
.smol{font-size:12px;}
a{color:#060 !important;text-decoration:none;}
a:hover{text-decoration:underline;}
input[type="button"],button,input[type="submit"]{
	border:1px outset #00B0F0;
	border-radius:8px;
	background:#DDF0FF;
	color:#0080B0;
}
input+input[type="submit"]{
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}
input[type="button"]:active,input[type="radio"]:not(:checked)+label:active,button:active,input[type="submit"]:active {
	border:1px outset #005080;
	background:#EFF;
	color:#003080;
}
h1{
	text-align:center;
	font-weight:700;
	width:1200px;
}
h3{margin:0.4em 3px;}
.clear {clear:both;}


/**CALC RADIOS**/
main input[type="radio"]{display:none;}
main input[type="radio"]+label{
	display:block;
	float:left;
	font-family:'Lato',sans-serif;
	margin:0.5em 0px;
	padding:5px;
	color:#0080B0;
	border:1px outset #00B0F0;
	background:#EFF;
	text-align:center;
}
main input[type="radio"]:not(:checked)+label{opacity:0.33;}
main input[type="radio"]:not(:checked)+label:hover{opacity:0.75;}
main input[type="radio"]:checked+label      {opacity:1;}
p label:first-of-type {
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
}
p label:last-of-type {
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
}
img[alt="R"],img[alt="V"]{transform:translateY(12px);}
img[alt="K"],img[alt="B"]{transform:translateY(-12px);}

/**Typeeffect helper**/
#typeEffectHelp{margin-bottom:15px;}
#MoveTypeText{position:relative;bottom:10px;left:10px;}
#typePicker{
	position:absolute;
	width:210px;
	border:1px solid #00B0F0;
	padding:8px;
	border-radius:10px;
	background:rgba(238,255,255,1);
	font-size:12px;
}
#typePicker img {width:32px;height:16px;}
